@font-face {
    font-family: 'airBnb bold';
    src: url('/cafeProject/asset/font/airBnb/AirbnbCerealBlack.ttf')
}

@font-face {
    font-family: 'airBnb Reguler';
    src: url('/cafeProject/asset/font/airBnb/AirbnbCerealBook.ttf');
}

.font-reguler {
    font-family: 'airBnb Reguler';
}

.font-bold {
    font-family: 'airBnb bold';
}

.num {
    background-color: dodgerblue;
    padding: 2px 7px;
    color: white;
    border-radius: 500px;
    font-size: small;
}

.buttonAside1 {
    margin: 0;
    color: #82DE3A;
    border: solid #82DE3A 1px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.buttonAside {
    margin: 0;
    color: #82DE3A;
    background: rgba(130, 222, 58, 0.2);
    border: solid #82DE3A 1px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.asideMargin {
    margin-top: 250px;
    margin-bottom: 0;
}

.marginBtn {
    margin-top: 15em;
    margin-left: 10em;
}