@font-face {
    font-family: 'airBnb bold';
    src: url('/cafeProject/asset/font/airBnb/AirbnbCerealBlack.ttf')
}

@font-face {
    font-family: 'airBnb Reguler';
    src: url('/cafeProject/asset/font/airBnb/AirbnbCerealBook.ttf');
}

.font-reguler {
    font-family: 'airBnb Reguler';
}

.font-bold {
    font-family: 'airBnb bold';
    font-size: 17px;
}

.num {
    background-color: dodgerblue;
    padding: 2px 7px;
    color: white;
    border-radius: 500px;
    font-size: small;
}